{# empty Twig template #}
{%  extends "base.html.twig" %}

{% block body %}
    <div class='container'>
    <h1 style='text-align: center'> <span style='color:turquoise'>Stylo</span> <span style='color:red'>3</span><span style='color:darkblue'>000</span></h1>
    <h1 style="color: white;"> Bienvenue sur le site Stylo 3000 qui vous permettra d'acheter toutes sortes de stylos pour que vous puissiez
        écrire.</h1>
    </div>



{%endblock body%}