/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 déc. 2017, 16:41:31
    Author     : g.parra
*/

$main-color:white;
$white:black;
@import '~bootstrap/scss/bootstrap';
body{
    background-image: url("image/fond.jpg");
    background-repeat: no-repeat;
    color:$white;
    background-attachment:fixed;
    background-size: 100%;
}
form{
    width: 30%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50vh; // poussé de la moitié de la hauteur du viewport
    transform: translateY(-50%); // tiré de la moitié de sa propre hauteur
    /*border: solid black 5px;*/
    /*    -moz-border-radius: 125px/200px;
        -webkit-border-radius: 125px/200px;*/
    /*border-radius: 125px/200px;*/
    padding-left: 2%;
    padding-right: 2%;
}
.bouton_user {
    padding:6px 0 6px 0;
    font:bold 13px Arial;
    background:#478bf9;
    color:#fff;
    border-radius:2px;
    width:100px;
    border:none;
}
.produits{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: grey;      // background : linear-gradient(red, blue) pour faire un degrader
    background-clip: border-box;
    /*    border: 1px solid rgba(0, 0, 0, 0.125);
    */border-radius: 0.25rem;
}
.nomprod{
    z-index:10; 
    margin-bottom: -24px; 
    background-color: rgba(25,50,150,0.5)!important;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 1.5rem;
}
.navbar{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 100;
    margin-left: -15px;
}
.container{
    margin-top:6%; 
}
.plusmoins{
    color: black;
    background-color: transparent;
    background-image: none;
    border-color: black;
}
.numcommande{
    margin-top: 20px; 
    background-color: rgba(255,255,255,0.5); 
    border-radius:0.5rem;
}
.imgcommande{
    width:80px;
    height:80px;
    border-radius:0.7rem;
}
.blockprodcommande{
    margin-left: 30px; 
    margin-top:7px;
    margin-bottom:7px;
}
.descriptprodcom{
    position: absolute;
    margin-top: 35px;
    margin-left: 6px;
}
.nomprodcom{
    position: absolute;
    font-size: 20px;
    margin-left: 7px;
}
.formlogin{
    background-color: rgba(153, 107, 97, 0.8);
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 0.2rem;
    border: solid #a29537;
}
.btnchifr{
    border-radius: 1rem; 
    margin-right:6px; 
    margin-top:6px;
    font-size: 20px;
}

.btnchifr:hover{
    border-radius: 0.8rem;
    background-color: #c97676;
    margin-right: 6px;
    margin-top: 6px;
    font-size: 20px;
    border: solid black 2px;
}
.totalcommande{
    float: right; 
    margin-right: 30px; 
    border:1px solid black;
}

.categs{
    color:black; 
    margin-bottom:15px; 
    background-color: #ceb75c;
}

.categs:hover{
    background-color: #62c193;
    border: solid 1px #4bf4e1;
    border-radius: 7px;
}